/* Define the Ubuntu Mono font */

@font-face {
	font-family: 'Ubuntu Mono';
	src: url('UbuntuMono-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: url('UbuntuMono-Bold.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: url('UbuntuMono-Italic.ttf')  format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: url('UbuntuMono-BoldItalic.ttf')  format('truetype');
	font-weight: bold;
	font-style: italic;
}

